html{
    scroll-behavior:smooth;
}
body {
    background: linear-gradient(to right, white 10%, rgb(20, 19, 19));
    color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
body::-webkit-scrollbar{
    display: none;
}
.portfolio{
    position: absolute;
    top: 20%;
    left: 40%;
    font-family:sans-serif;
    font-size: 4rem;
    color: black;
    border-bottom: 2px solid;
}
@keyframes scale{
    0%, 100% {transform: scale(1.2) ;}
    50% {transform: scale(1) ;}
}
.by_name{
    position: absolute;
    top: 80%;
    width: 5rem;
    background-color: rgba(235, 235, 9, 0.751);
    padding: 10px;
    margin-left: 2rem;
    font-size: 1rem;
    font-style: italic;
    animation: scale 4s infinite;
}
.folio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(2, 212, 244);
}
@keyframes travel{
    0%, 100% {transform: translateX(-150px);}
    50% {transform: translate(50px);}
}
.folio::before{
    content: "";
    width: 50px;
    height: 5px;
    position: absolute;
    top: 97%;
    background-color: rgb(2, 212, 244);
    animation: travel 4s infinite;
}
#portfolio_text>section{
    position: absolute;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    color: black;
}
#web_dev{
    rotate: -90deg;
    top: 20%;
}
#ai_eng{
    rotate: 90deg;
    left: 80%;
    top: 20%;
}

#start{
    position: absolute;
    top: 50%;
    left: 45%;
    padding: 1rem 1rem;
    background-color: rgb(20, 19, 19);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 50px;
}
#start:hover{
    background-color: rgb(52, 50, 50);
    transition: 0.5s;
}
.start_clicked{
    transform: scale(100);
    transition: 1s;
}
#content{
    display: none;
}
main{
    cursor: default;
    margin: 5rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
}

nav a {
    position: relative;
    color: rgb(255, 255, 255);
    opacity: 0.4;
    text-decoration: none;
    font-size: large;
    font-family:'Trebuchet MS', sans-serif;
    transition: 0.4s ease-in-out;
}

.a_hover {
    opacity: 0.9;
}

nav a::before {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 1px;
    left: -0.5rem;
    transition: 0.4s;
}
nav a:hover::before{
    height: 170%;
}

nav a::after {
    content: "";
    position: absolute;
    background-color: rgb(2, 212, 244);
    height: 5px;
    width: 1px;
    top: 1.5rem;
    right: 0;
    transition: 0.4s;
}
nav a:hover::after {
    width: 150%;
}
nav a:active{
    transform: scale(1.3);
}

.contact_logos{
    display: grid;
    margin-left: 120vw;
    gap: 1rem;
}
.contact_logos img{
    filter: invert();
    height: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}
.contact_logos_clicked{
    margin-left: 95vw;
    transition: 0.5s;
}
.contact_logos img:active{
    transform: scale(1.3);
    transition: 0.4s;
}
.github{
    border-radius: 50px;
}
.contact_logos img:hover{
    box-shadow: 10px 6px 20px hsl(7, 97%, 52%);
}



footer{
    margin: 80vh 1rem 0 0;
    text-align: end;
}
