/* General Styles */
html {
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


body {
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center, rgb(52, 50, 50), transparent 20%);
    background-size: 70% 70%;
    background-position: center center;
}

body::-webkit-scrollbar {
    display: none;
}

/* Portfolio Section */
.portfolio {
    position: absolute;
    top: 10%;
    left: 40%;
    font-family: sans-serif;
    font-size: 4rem;
    color: black;
    border-bottom: 2px solid;
}

.by_name {
    position: absolute;
    top: 80%;
    width: 5rem;
    padding: 10px;
    margin-left: 2rem;
    font-size: large;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.folio {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(2, 212, 244);
}

.folio::before {
    content: "";
    width: 50px;
    height: 5px;
    position: absolute;
    top: 97%;
    background-color: rgb(2, 212, 244);
    animation: travel 4s infinite;
}

@keyframes travel {
    0%, 100% {
        transform: translateX(-150px);
    }
    50% {
        transform: translate(50px);
    }
}

/* Start Button */
#start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#start:hover {
    color: rgb(2, 212, 244);
    background-color: rgb(52, 50, 50);
    transition: 2s;
}

.start_clicked {
    animation: zoom 2s;
    will-change: transform;
}

@keyframes zoom {
    from { transform: scale(); }
    to { transform: scale(100); }
}

/* Content Section */
#content {
    display: none;
    font-family: 'Trebuchet MS', sans-serif;
}

/* Navigation Bar */

#nav_bar {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20rem;
    margin-top: 2rem;
}

#nav_bar a {
    position: relative;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    font-size: large;
    transition: 0.4s ease-in-out;
}

#nav_bar a:hover {
    opacity: 0.9;
}

#nav_bar a::before {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 1px;
    left: -0.5rem;
    transition: 0.4s;
}

#nav_bar a:hover::before {
    height: 170%;
}

#nav_bar a::after {
    content: "";
    position: absolute;
    background-color: rgb(2, 212, 244);
    height: 5px;
    width: 1px;
    top: 1.5rem;
    right: 0;
    transition: 0.4s;
}

#nav_bar a:hover::after {
    width: 150%;
}

#nav_bar a:active {
    transform: scale(1.3);
}

/* Contact Logos Section */
.contact_logos {
    position: absolute;
    display: grid;
    width: 200px;
    margin-left: 200%;
    place-items: center;
    gap: 1rem;
}

.contact_logos img {
    filter: invert();
    height: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.contact_logos_clicked {
    margin-left: 85vw;
    transition: 0.5s;
}

.contact_logos img:active {
    transform: scale(1.3);
    transition: 0.4s;
}

.contact_logos img:hover {
    box-shadow: 10px 6px 20px hsl(7, 97%, 52%);
}

.github {
    border-radius: 50px;
}

/* Carousel Section */
main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}

#carousel {
    justify-content: center;
    height: 500px;
    width: 70%;
}

.button {
    position: absolute;
    top: 40%;
    height: 0;
    width: 0;
    display: none;
}

#carousel:hover .button {
    display: block;
    z-index: 2;
}

.right {
    left: 95%;
    border-left: 40px solid transparent;
    border-bottom: 40px solid rgba(255, 255, 255, 0.34);
    transform: rotate(-45deg);
}

.left {
    right: 95%;
    border-right: 40px solid transparent;
    border-bottom: 40px solid rgba(255, 255, 255, 0.34);
    transform: rotate(45deg);
}

#carousel img {
    position: absolute;
    transition: 0.5s;
    object-fit: cover;
}

.img0 {
    height: 30%;
    width: 20%;
    top: 30%;
    left: 5%;
    z-index: 0;
    transition: 0.5s;
}

.img1 {
    height: 70%;
    width: 50%;
    top: 15%;
    left: 25%;
    z-index: 1;
}

.img2 {
    height: 30%;
    width: 20%;
    top: 30%;
    right: 5%;
    z-index: 0;
}

#carousel section {
    position: absolute;
    left: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

#carousel img:hover ~ section {
    opacity: 1;
    visibility: visible;
    left: 50%;
}

/* Footer */
footer {
    margin: 80vh 1rem 0 0;
    text-align: end;
}
